body{
    background-image: url(images/face-3d.gif);
    display: block;
    margin-top: 250px;
    margin-left: 500px;
}

.intro{
    font-family: sans-serif;
    font-size: 15px;
    color: darkblue;
}

input{
    border-width: medium;
}



        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        .,.ç
}